body{
  margin-top:170px;
  margin-bottom: 170px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}

.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
  width: 250px;
  height: 150px;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:120%;
  height:120%;
  /* margin-right: 120px;
  margin-top: 20px; */
}

#showcase .showcase-right{
  /* margin-top:90px; */
  padding: 50px;
}

#testimonial{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';
  color:#000;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
}

#info1 .info-right{
  margin-top:200px;
}

#info1 .showcase-left{
  margin-top: 180px;
  margin-bottom: 50px;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  background:url(../img/code-sample.jpeg);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

footer{
  padding:30px;
}
