rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contactMessages/{contactMessageId} {
      allow read: if false;
      allow create;
    }
  }
}
